.bundle
brakeman.html
config/database.yml
config/secrets.yml
coverage/*
coverage.data
db/*.sqlite3*
doc/
log/*.log
*.log
tmp/
*.swp
*~
.idea
.project
.DS_Store
public/uploads
public/sitemap*
vendor/bundle
.yard*
