/ .container.inner
/   .row
/     .col-md-3.col-sm-6.inner
/       %h4 Who We Are
/       %p
/         We are a team of enthusiastic problem solvers. We build elegant solutions for real-world problems.
/         %br/
/         What problem do you want solved?
/     .col-md-3.col-sm-6.inner
/       %h4 Latest Works
/     .col-md-3.col-sm-6.inner
/       %h4 Get In Touch
/       %ul.contacts
/         %li
/           %i.icon-location.contact
/           Oregon City, OR 97045
/         %li
/           %i.icon-mobile.contact
/           503-928-8369
/         %li
/           %a{href: "#"}
/             %i.icon-mail-1.contact
/             gratitude@ocdigital.co
/     .col-md-3.col-sm-6.inner
/       %h4 Free updates
/       %p Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.
/       %form#newsletter.form-inline.newsletter{role: "form"}
/         %label.sr-only{for: "exampleInputEmail"} Email address
/         %input#exampleInputEmail.form-control{placeholder: "Enter your email address", type: "email"}/
/         %button.btn.btn-default.btn-submit{type: "submit"} Subscribe
