.footer-bottom
  .container.inner
    %p.pull-left
      &copy; 2013-#{Time.now.strftime("%Y")} OC Digital, LLC. All Rights Reserved.
    %ul.footer-menu.pull-right
      %li
        = link_to 'Contact', new_contact_path