# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ac08e98673a9066bfa8273e6ea94dc3c650dc056241bc005cda78715a973c42fdbc2f1c57dc37b064c7dbbc99e338373174639a44711f170f831115570e03b78

test:
  secret_key_base: f432777720c1e3e4c704f58a2808b1b0581197049ec62f878f7da8a8884df71a5b3627f4c4dee8070a28a2909a69c8670fe78b2354e85a42336ef6ad386186b5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
