.navbar-brand {
  display: inline-block;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  img {
    max-height:100%;
    height:auto;
  }
}

.navbar-nav > li {
  float: right;
}

#hero {
  .item {
    h2 {
      font-size: 60px;
      font-weight: 900;
      letter-spacing: 0.05em;
      line-height: 115%;
      margin-bottom: 0;
      text-transform: uppercase;
      transition: font 200ms ease-out 0s;
    }
  }
}

h2.heading {
  font-size: 44px;
  line-height: 130%;
  margin-bottom: 25px;
}